.button {
	cursor: pointer;
	border: none;
	border-radius: 3px;
	background: #D1C4E9;
	transition: 0.2s;
	padding: 8px 14px;
	font-size: 12px;
	margin-right: 8px;
}

.button:hover {
	background: #B39DDB;
}