.main {
	width: 100%;
	max-width: 1200px;
	margin: 10px auto;
	background-color:white;
	padding: 15px;
	border: 1px solid #D8D8E1;
	border-radius: 3px;
}

.main > .section:not(:last-child) {
	border-bottom: 1px solid #D8D8E1;
}