.smart-table {
	margin: 0 auto;
	width: 90%;
	border-collapse: collapse;
	border-radius: 3px;
	overflow: hidden;
}

.smart-table__row:nth-child(odd){
	background-color: rgba(0,0,0,0.05)
}

.smart-table__cell_hover {
	background-color: #FCF9FF;
}

.smart-table__cell_active {
	background-color: #F6F0FF;
}

.smart-table__row:nth-child(odd) .smart-table__cell_hover {
	background-color: #F0EAF7
}

.smart-table__row:nth-child(odd) .smart-table__cell_active {
	background-color: #F1E7FF
}	

.smart-table__cell {
	padding: 10px;
	cursor: pointer;
}

.smart-table__heading {
	transition: 0.2s;
	background-color: #D1C4E9;
	position: relative;
	padding: 10px;
	text-align: left;
}
.smart-table__heading:hover {
	background-color: #B39DDB;
}

.smart-table__heading_hover {
	background-color: #BFB0DB;	
}

.smart-table__heading_active {
	background-color: #B39DDB;
}

.smart-table__heading_asc:after {
	position: absolute;
	right: 8px;
	content: "↓"
}

.smart-table__heading_desc:after {
	content: "↑";
	position: absolute;
	right: 8px;
}

.smart-table .smart-table__footer {
	background-color: #B39DDB
}

.smart-table__row_hidden {
	display: none;
}